.WrapCard {
  position: absolute;
  width: 343px;
  background: url('../../../public/backgroundCard.png'), #ffffff;
  border: 1px solid #fafafb;
  box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
  border-radius: 8px;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.WrapContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
}

.TitleCoin {
  font-weight: 600;
  font-size: 16px;
  color: #b5b5be;
  display: block;
  word-wrap: break-word;
}

.Count {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #171725;
  display: block;
  word-wrap: break-word;
  letter-spacing: 1.5px;
}

.ProgressBar {
  height: 5px;
  position: relative;
  background: #e2e2ea;
  border-radius: 2.5px;
}

.ProgressBar > span {
  display: block;
  height: 100%;
  border-radius: 2.5px;
  background-color: #0062ff;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.Information {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: #92929d;
}

.ViewDetails {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #0062ff;
}
.BtnCoupons {
  background-color: #171725;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 18px 0px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 0.08em;
}

.TimeUpdate {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #b5b5be;
}
