.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconHome {
  background: url('../../../public/home.png');
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.iconNotification {
  background: url('../../../public/notification.png');
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.iconPay {
  background: url('../../../public/pay.png');
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.iconAccount {
  background: url('../../../public/account.png');
  width: 40px;
  height: 40px;
  cursor: pointer;
}
