.WrapTopic {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.TitleTopic {
  font-weight: 700;
  font-size: 18px;
  color: #171725;
  margin-bottom: 24px;
  margin-top: 20px;
}

.Carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 25px;
}

.Carousel > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 24px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}
