.WrapCarouselCard {
  width: 200px;
  height: 230px;
  background: #ffffff;
  border: 1px solid #f1f1f5;
  box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CountCoin {
  font-weight: 600;
  font-size: 16px;
  color: #0062ff;
  padding: 0 10px;
}

.CountCoin_disable {
  font-weight: 600;
  font-size: 16px;
  color: #696974;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.InfoCoin {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.005em;
  color: #92929d;
  padding: 0 10px;
}
.Insufficient {
  padding: 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0062ff;
  text-decoration: none;
  letter-spacing: 0.5px;
}
