.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
.Content {
  width: 100%;
  height: calc(100vh - 98px);
  background: #ffffff;
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.Footer {
  height: 96px;
  width: 100%;
  flex: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-top: 2px solid #e2e2ea;
}

.Banner {
  height: 428px;
  background-color: #171725;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  position: relative;
  flex: none;
}
.WrapButton {
  height: 96px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.ButtonRound {
  width: 45px;
  height: 45px;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.IconBack {
  background: url('../public/back.png');
  width: 24px;
  height: 24px;
}

.Title {
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}

.SubTitle {
  font-weight: 400;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: #b5b5be;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.WrapContentTopic {
  height: 100%;
  padding: 200px 24px 40px 24px;
}
